<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://i.imgur.com/K68mvIF.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="https://i.imgur.com/K68mvIF.png" />
  <title>AntiRaid - News</title>
</head>
<body>
  <%- include("partials/header", { bot, user, path, }) %>
  <center><h1><i class="fa fa-newspaper-o"></i><strong> News</strong></h1></center>
  <div class="container">
                <% bot.config.news.map(x => { %>
                  <div class="cardd news">
                    <h2>v<%- x.version %></h2>
                    <hr style="width: auto;">
                    <center><h5 style="width: 400px;">
                        <% x.changes.map(s => { %>
                         <li> <%- s %> </li>
                        <% }).join("\n") %>
                      <br> 
                      </h5></center>
                        <hr style="width: auto;">
                        <h6>Date: <%- x.date %></h6>
                    </div>
               <% }) %>
    </div>
  <%- include("partials/footer") %>
</body>

</html>