<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="https://i.imgur.com/Mgwfwpj.png" />
  <link rel="shortcut icon" href="https://i.imgur.com/Mgwfwpj.png" style="border-radius: 80px;" type="image/x-icon">
  <title>AntiRaid - Home</title>
</head>

<body>
  <%- include("partials/header", { bot, user }) %>
    <center>
      <br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-6 text-right">
            <img src="<%- bot.user.displayAvatarURL() %>" alt="Image">
          </div>
          <div class="col-md-6 col-xs-6">
            <h1>AntiRaid</h1>
            <h3>The moderation bot.</h3>
            <h6>AntiRaid is a <strong>verified</strong> discord bot to <strong>protect</strong> your server!</h6>
          </div>
        </div>
      </div>
    </center>
    <br>
    <br>
    <center>
      <a style="width:350px;" style="margin-right: 50px" class="btn btn-primary" type="button" target="_blank" href="/invite"><i
          class="fa fa-plus"></i> Invite Antiraid</a>
      <br>
      <br>
      <script>
        // Set the date we're counting down to
        function openVote() {
          document.getElementById("myvote").style.display = "block";
        }
        function closeVote() {
          document.getElementById("myvote").style = "display: none;";
        }
      </script>
    </center>
    <br>
    <br>
    <div class="left">
      <p>
        <center><strong style="font-size: 40px; margin-right: 40px;"><i class="fa fa-newspaper-o"></i> Features</strong>
        </center>
      </p>
    </div>
    <div class="card-columns" style="column-count: 4;">
      <% config.features.map(x=> { %>
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header"><i class="fa fa-<%- x.emoji %>"></i>
            <%- x.title %>
          </div>
          <div class="card-body">
            <p class="card-text">
              <%- x.description %>
            </p>
          </div>
        </div>
        <% }); %>
    </div>
    <center>
      <hr>
      <br>
      <a style="width:200px;" class="btn btn-danger" type="button" target="_blank" href="/bug"><i class="fa fa-bug"></i>
        Send Report</a>
      <a style="width:200px;" class="btn btn-success" type="button" target="_blank" href="/suggest"><i
          class="fa fa-code"></i>
        Suggest</a>
      <a style="width:200px;" class="btn btn-primary" type="button" target="_blank" href="/feedback"><i
          class="fa fa-heart"></i>
        Feedback</a>
    </center>
    <br>
    <%- include("partials/footer") %>
</body>

</html>
