<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="https://i.imgur.com/Mgwfwpj.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="icon" type="image/png" href="https://i.imgur.com/Mgwfwpj.png"/>
<title>AntiRaid - Logs</title>
</head>
<body>
<%- include("partials/header", { bot, user }) %>
<center>
  <br>
  <% if (alert) { %>
  <div class="alert alert-success" style="width: auto;">
      <b><i class="fa fa-warning" style="color: black;"></i><%= alert %></b>
    </div>
  <% }else if(error){ %>
    <div class="alert alert-danger" style="width: auto;">
      <b><i class="fa fa-warning" style="color: black;"></i><%= error %> </b>
    </div>
    <% } %>
  </center>
<br>
<br>
<center>
  <form style="margin-top: 1em;" method="POST"> <!-- method="post" tiggers a POST request to the same url with the body of the form control inputs -->
  <h1><strong>Set audit log for server!</strong></h1>
  <% let thechannelaudit = settings.audit %>
  <% if(thechannelaudit == "String"){ %> 
    <%  thechannelaudit = "None" %> 
    <% }else{ %>
        <% if(!guild.channels.cache.get(settings.audit)){ %>
          <% thechannelaudit = "None" %>
          <% }else{ %>
            <% thechannelaudit = guild.channels.cache.get(settings.audit).name %>
            <% } %>
            <% } %>
  <h3>Currently audit log channel: <%= thechannelaudit %></h3>
  
  <select class="form-control" name="auditchannel" style="width: auto;">
    <option value="<%= settings.audit %>"># <%= thechannelaudit %></option>
    <% if(thechannelaudit !== "None"){ %>
      <option value="None">None</option>
      <% } %> 
      <% guild.channels.cache.filter(t => t.type === 'GUILD_TEXT').sort((b, a) => b.position - a.position).map(channel => { %>
        <% if(channel.permissionsFor(guild.me).has("SEND_MESSAGES")){ %>
          <% if(channel.permissionsFor(guild.me).has("EMBED_LINKS")){ %>
            <option value="<%= channel.id %>"># <%= channel.name %></option>
            <% } %>
            <% } %>
            <% }) %>
          </select>
          <br>
          <br>
          <h1><strong>Set mod log for server!</strong></h1>
          <% let thechannelmod = settings.mod %>
          <% if(thechannelmod == "String"){ %> 
            <%  thechannelmod = "None" %> 
            <% }else{ %>
              <% if(!guild.channels.cache.get(settings.mod)){ %>
                <% thechannelmod = "None" %>
                <% }else{ %>
                  <% thechannelmod = guild.channels.cache.get(settings.mod).name %>
                  <% } %>
                  <% } %>
                  <h3>Currently mod log channel: <%= thechannelmod %></h3>
                  
                  <select class="form-control" name="modchannel" style="width: auto;">
                    <option value="<%= settings.mod %>"># <%= thechannelmod %></option>
                    <% if(thechannelmod !== "None"){ %>
                      <option value="None">None</option>
                      <% } %> 
                      <% guild.channels.cache.filter(t => t.type === 'GUILD_TEXT').sort((b, a) => b.position - a.position).map(channel => { %>
                        <% if(channel.permissionsFor(guild.me).has("SEND_MESSAGES")){ %>
                          <% if(channel.permissionsFor(guild.me).has("EMBED_LINKS")){ %>
                            <option value="<%= channel.id %>"># <%= channel.name %></option>
                            <% } %>
                            <% } %>
                            <% }) %>
                          </select>
                          <br>
                          <br>
                          <button style="width:170px" class="btn btn-success" type="button submit">Update</button>
                          <a class="btn btn-warning type="button" href="/servers/<%= guild.id %>">Back to dashboard</a>
                        </form>
      </center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%- include("partials/footer") %>
</body>
</html>