<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" type="image/png" href="https://i.imgur.com/Mgwfwpj.png" />
  <link rel="shortcut icon" href="https://i.imgur.com/Mgwfwpj.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>AntiRaid - Team</title>
</head>

<body>
  <%- include("partials/header", { bot, user }) %>
    <center>
      <h1><i class="fa fa-code"></i> Developers</h1>
    </center>
    <br><br>
    <div class="card-columns" style="column-count: 3; margin: 100px;">
      <% bot.config.dev.filter(async x => { %>
        <div class="card text-white bg-secondary mb-5">
          <br>
          <% let info = bot.users.cache.get(x) %>
            <img src='https://cdn.discordapp.com/avatars/<%- info.id %>/<%- info.avatar %>.webp' class="card-img-top" style="width: 120px; height: 120px; border-radius: 70px;">
            <p><strong style="font-size: 30px;">
                <%- info.tag %>
              </strong></p>
            <hr>
            <strong>&bull; Developer</strong>
            <hr>
            <a type="button" class="btn btn-primary" target="_blank"
              href="https://discord.com/users/<%= info.id %>">Contact <strong>
                <%- info.tag %>
              </strong></a>
            <br><br>
        </div>
        <% }) %>
    </div>
    <center>
      <h1><i class="fa fa-address-book"></i> Staff</h1>
    </center>
    <div class="card-columns" style="column-count: 3; margin: 100px;">
      <% bot.config.owners.filter(x=> { %>
        <div class="card text-white bg-secondary mb-5">
          <br>
          <% let av=bot.users.cache.get(x.id)?.avatar %>
            <img src='https://cdn.discordapp.com/avatars/<%- x.id %>/<%- av %>.webp' style="width: 120px; height: 120px; border-radius: 70px;">
            <p><strong style="font-size: 30px;">
                <%- bot.users.cache.get(x.id)?.tag %>
              </strong></p>
            <hr>
            <strong>&bull; <%- x.role %></strong>
            <hr>
            <a type="button" class="btn btn-primary" target="_blank"
              href="https://discord.com/users/<%= x.id %>">Contact <strong>
                <%- bot.users.cache.get(x.id)?.tag %>
              </strong></a>
            <br><br>
        </div>
        <% }) %>
    </div>
    </div>
</body>

</html>
<%- include("partials/footer") %>
